.chat-message-user {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.chat-message-robot {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.chat-message-text {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}
.chat-message-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}