.send-button {
  background-color: #3344DB;
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
}
.chat-input {
  background-color: #1C1E22;
  color: #9D9894;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #3d3b3a;
  font-size: 15px;
  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  margin-bottom: 30px;
}